/* You can add global styles to this file, and also import other style files */

/* Customize Colors */

$primary: #248c83;
$secondary: #222b44;

// Merge the maps
//$theme-colors: map-merge($theme-colors, $custom-colors);

/* import bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap";

/* bootstrap icons: https://icons.getbootstrap.com/ */
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

.btn-primary {
  color: white;
}

.bg-secondary {
  color: white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
