/* You can add global styles to this file, and also import other style files */

/* Customize Colors */

$primary: #248c83;
$secondary: #222b44;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* bootstrap icons: https://icons.getbootstrap.com/ */
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "../node_modules/bootstrap/scss/variables";

.btn-primary {
  color: white;
}

.bg-secondary {
  color: white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


