<div class="container my-5">
  <div>
    <table class="table">
      <thead class="bg-secondary text-light">
        <tr>
          <th scope="col">Datum</th>
          <th scope="col">Arbeitsbeginn</th>
          <th scope="col">Arbeitsende</th>
          <th scope="col">Dauer Pausen Gesamt</th>
          <th scope="col">Erfasste Arbeitszeit</th>
          <th scope="col">Geplante Arbeitszeit</th>
          <th scope="col">Mehr-/ Minderstunden</th>
          <th scope="col">Bemerkungen</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let dayRecord of data">
          <tr>
            <td>{{formatDate(dayRecord.day)}}</td>
            <td>
              <div class="mb-3">
                <input type="time" class="form-control text-center">
              </div>
            </td>
            <td>
              <ngx-mat-timepicker [ngModel]="dayRecord.workEnd" [showSpinners]="false" [stepHour]="1" [stepMinute]="1"
                [showSeconds]="false">
              </ngx-mat-timepicker>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{dayRecord.comments}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

</div>