<div class="container my-5">
  <div>
    <table class="table">
      <thead class="bg-secondary text-light">
        <tr>
          <th colspan="2" scope="col">Datum</th>
          <th scope="col">Arbeitsbeginn</th>
          <th scope="col">Arbeitsende</th>
          <th scope="col">Dauer Pausen</th>
          <th scope="col">Erfasste Arbeitszeit</th>
          <th scope="col">Geplante Arbeitszeit</th>
          <th scope="col">Mehr-/ Minderstunden</th>
          <th scope="col">Bemerkungen</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let dayRecord of data">
          <ng-container [ngSwitch]="getDayType(dayRecord.day)">
            <ng-container *ngSwitchCase="HOLIDAY">
              <tr app-disabled-day-row [dayRecord]="dayRecord" [note]="getHolidayName(dayRecord.day)" class="holiday"></tr>
            </ng-container>
            <ng-container *ngSwitchCase="WEEKEND">
              <tr app-disabled-day-row [dayRecord]="dayRecord" class="weekend"></tr>
            </ng-container>
            <ng-container *ngSwitchCase="WORKDAY">
              <tr app-day-row [dayRecord]="dayRecord" (rowForm)="addRowForm($event)"></tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div>
    <button type="button" class="btn btn-primary" [disabled]="forms.pristine">Speichern</button>
  </div>
</div>