<ng-container *ngIf="dayRecord !== undefined">
    <td>{{getWeekday(dayRecord.day)}}</td>
    <td>{{formatDate(dayRecord.day)}}</td>
    <td>
        <div class="mb-3">
            <input type="time" class="form-control text-center" [formControl]="startForm" [ngModel]="dayRecord.data?.start">
        </div>
    </td>
    <td>
        <div class="mb-3">
            <input type="time" class="form-control text-center" [formControl]="endForm">
        </div>
    </td>
    <td>
        <div class="mb-3">
            <input type="time" class="form-control text-center" [formControl]="breakForm">
        </div>
    </td>
    <td>{{workingTime}}</td>
    <td></td>
    <td></td>
    <td>
        <div class="mb-3">
            <input type="text" class="form-control text-center" [value]="dayRecord.data?.note" [formControl]="noteForm">
        </div>
    </td>
</ng-container>