<ng-container *ngIf="dayRecord !== undefined">
    <td class="align-middle">{{getWeekday(dayRecord.day)}}</td>
    <td class="fs-6 align-middle">{{formatDate(dayRecord.day)}}</td>
    <td>
        <div class="">
            <input type="time" class="form-control text-center" [formControl]="startForm">
        </div>
    </td>
    <td>
        <div class="">
            <input type="time" class="form-control text-center" [formControl]="endForm">
        </div>
    </td>
    <td>
        <div class="">
            <input type="time" class="form-control text-center" [formControl]="breakForm">
        </div>
    </td>
    <td class="fs-6 align-middle">{{workingTime}}</td>
    <td class="fs-6 align-middle"></td>
    <td class="fs-6 align-middle"></td>
    <td>
        <div class="">
            <input class="form-control" [formControl]="noteForm">
        </div>
    </td>
</ng-container>